/****************************************************************
 *																*		
 * 						      素材火							*
 *                        www.sucaihuo.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body{margin:0;padding:0;font:14px/1.6 5FAE8F6F96C59ED1,Arial,Sans-serif;background:#fff}
body{font-family:"Microsoft YaHei","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif}
.noFind{text-align:center;padding-top:150px;font-size:18px;min-height:612px;width:1200px;margin:20px auto;background-color:#fff}
img{vertical-align:top}
.noFind p{padding-top:25px;color:#999}
a{color:#333}
a{text-decoration:none}